{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<div style="padding-top:30px;"></div>
<div class="v-settings">
    <div class="ui two column grid ">
        <div class="four wide column">

        </div>
        <div class="twelve wide column">
            <div class="v-settings-content">
                <form novalidate class="ui form" method="post">
                  {% csrf_token %}
                    <div class="sixteen wide inline field v-form-field">
                        <label>旧密码</label>
                        {{ form.old_password}}
                    </div>
                    <div class="sixteen wide inline field v-form-field">
                        <label>新密码</label>
                        {{ form.new_password1}}
                    </div>
                    <div class="sixteen wide inline field v-form-field">
                        <label>确认密码</label>
                        {{ form.new_password2}}
                    </div>
                  <button class="ui primary button" type="submit">保存</button>

                    <div class="change_warning">
                        {% if form.errors %}
                        <div class="ui info message">
                            <ul class="list">

                                {% for field in form %}
                                {% for error in field.errors %}
                                <li class="item">{{ error|escape }}</li>
                                {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                <li class="item">{{ error|escape }}</li>
                                {% endfor %}
                            </ul>
                        </div>

                    {% endif %}
                    </div>

                    <div class="form-messages">
                        {% if messages %}
                        <div class="ui info message">
                            {% for message in messages %}
                            <div class="item">{{ message }}</div>
                            {% endfor %}
                    </div>
                        {% endif %}
                    </div>


                </form>
            </div>
        </div>

    </div>
</div>

{% endblock content %}

{% block javascript %}

{% endblock javascript %}

